.App {
  overflow: hidden;
}

#header {
  height: 10vh;
  background-color: #282828;
  color: white;
}

#box-parent {
  margin: auto;
  padding: auto;
  height: 90vh;
  width: 100%;
  background-color: #d3d3d3;
}

.box-item {
  height: 25%;
  width: 25%;
  padding: 0px !important;
}

.box-item img {
  top: 30%;
  position: relative;
  height: 40%;
  width: 100%;
}

#btn-score {
  display: none;
  visibility: hidden;
  max-height: 0;
}
